body {
	background-color: black;
}

header {
	align-items: center;
	display: flex;
}

h1 {
	color: white;
	font-family: tahoma, verdana, arial;
	font-size: 10vw;
}

#container {
	width: 60vw;
	padding: 10px;
	align-items: center;
}

#container p {
	color: white;
  	font-family: tahoma, verdana, arial;
  	font-size: 4vw;
  	margin-left: 1em;
}

a {
	color: white;
	font-family: tahoma, verdana, arial;
	font-size: 4vw;
}

#proj_list {
	display: flex;
	align-items: center;
}

#proj_list dl {
	color: white;
	font-family: tahoma, verdana, arial;
	background-color: black;
	font-weight: bold;
	font-size: 4vw;
}

#proj_list dt {
	color: white;
	font-family: tahoma, verdana, arial;
	background-color: black;
	font-size: 4vw;
}

#proj_list dd {
	color: white;
	font-family: tahoma, verdana, arial;
	background-color: black;
	font-size: 3vw;
}

#proj_list a:link {
	color: white;
	font-family: tahoma, verdana, arial;
	font-size: 3vw;
}

#proj_list a:visited {
	color: white;
	font-family: tahoma, verdana, arial;
	font-size: 3vw;
}
