body {
	background-color: black;
}

h1 {
	color: white;
	font-family: tahoma, verdana, arial;
	font-size: 10vw;
}

#container {
	display: flex;
	align-items: center;
}

#container p {
	color: white;
  	font-family: tahoma, verdana, arial;
  	font-size: 3vw;
  	margin-left: 1em;
}